


.SignUp{

 border: 2px solid #2a2a2a;
width: 700px;
height: 500px;
position: fixed;
left: 400px;
top: 100px;
z-index: -10px;
}


.Aside{
    width: 250px;
    height: 500px;
    border:  1px solid white;   
    color: white;
    background-color: hsl(217, 87%, 59%);
}



.SignUpSection{
width: 700px;
height: 600px;
outline: no;

position:  absolute;
top: 50px;
left: 270px;

}


.Email {
border: none;
box-sizing: border-box;
outline: none;

border-bottom: 2px solid chartreuse;
opacity: 100px;

width: 300px;
}

.SignUpSection .Email{
position: absolute;
top: 10px;
left: 20px;
}



.Aside .Header1{
font-family: Roboto, Arial, sans-serif;
font-size:100;
font-weight: bold;

}

.Continue{

    position: relative;
    top: 100px;
    left: 20px;
    width: 300px;
    height: 50px;
    background-color: #FB641B;
    color:  white;
}

.Aside .Header2{

    font-family: 'Roboto';
    font-size: larger;
    font-weight: bold;
    color: #DBDBDB;

}



.Existing-User{
 
    box-shadow: 5px 0px  1px hsl(0, 37%, 39%);;
    width: 300px;
    height: 30px;
   position: relative;

   top: 150px;
 left: 20px;

}


.Existing-User a{
 color: #2F7BF1;
text-decoration: none;
}

